---
layout: page
title: ""
---

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}


{% highlight bash %}
        .--'''''''''--.    
     .'      .---.      '.  
    /    .-----------.    \  
   /        .-----.        \  
   |       .-.   .-.       |  
   |      /   \ /   \      |  
    \    | .-. | .-. |    /  
     '-._| | | | | | |_.-'  
         | '-' | '-' |  
          \___/ \___/  
       _.-'  /   \  `-._  
     .' _.--|     |--._ '.      Hi I'm Edward  
     ' _...-|     |-..._ '        Computer Science @ uWaterloo
            |     |                   Read the blog !!! its awesome  
            '.___.'  
              | |  
             _| |_  
            /\( )/\  
           /  ` '  \  
          | |     | |  
          '-'     '-'  
          | |     | |  
          | |     | |  
          | |-----| |  
       .`/  |     | |/`.  
       |    |     |    |  
       '._.'| .-. |'._.'  
             \ | /  
             | | |  
             | | |  
             | | |  
            /| | |\  
          .'_| | |_`.  
          `. | | | .'  
       .    /  |  \    .  
      /o`.-'  / \  `-.`o\  
     /o  o\ .'   `. /o  o\  
     `.___.'       `.___.'  

{% endhighlight %}
